@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins';
    /*background-color: #f6ffed;*/
}

.wrapper {
    max-width: 1280px;
    min-height: 1000px;
    background-color: white;
    margin: 0 auto;
}

.header {
    background-color: #f6ffed;
    width: 100%;
    height: 70px;
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(118, 176, 118, 0.4);
}

.header_title {
    line-height: 70px;
}

.first_letter {
    color: rgb(88, 179, 88);
}

.logo_block {
    display: flex;
    margin-left: 8%;

}

.logo_image {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.ant-input {
    font-family: 'Poppins';
    font-size: 16px;
    max-width: 700px;
    display: block;
    align-items: center;
    margin: 0 auto;
}

.ant-table-wrapper .ant-table-tbody >tr >td {
    border-bottom: 1px solid #dbe4dc;
    font-size: 16px;
}
/*
.ant-table {

    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
   
}*/

.crypto_icon {
    margin-right: 10px;
    vertical-align: middle;
 
}

.negative_percent {
    color: red;
}
.positive_percent {
    color: #00B96B;
}

.main_info_block {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.popular_block {
font-family: 'Open Sans';
border: 1px solid #00B96B;
/*background-color:rgba(215, 255, 211, 0.2) ;*/
border-radius: 3px;
width: 330px;
margin-bottom:  30px;
padding: 10px;
}

.popular_title {
    margin-bottom: 8px;

}

.popular_cryptos {
    display: flex;
    justify-content: space-between;
}

.popular_cryptos_item {
border:  1px solid #00B96B;
width: 90px;
padding: 5px;
border-radius: 3px;
background-color:rgba(215, 255, 211, 0.3);
}

.popular_cryptos_item:hover {
    background-color:rgba(215, 255, 211, 0.8);
}

.popular_name {
    font-weight: 600;
}

.wallet_image {
 width: 40px;
}
